table,
th,
td {
    border: 1px solid lightgray;

}

table {
    width: 600px;
    border-collapse: collapse;
    padding: 2em 1em 2em 1em;
}

.randrechts {
    padding-right: 20em;
}

.randlinks {
    padding-left: 30em;
}

tbody>tr:nth-child(even) {
    background-color: rgb(180, 174, 174);
}